<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<!--Part 2-->
<%= form_tag movies_path, id: "ratings_form", :method => "get" do %>
  <% @all_ratings.each do |rating| %>
    <%= rating %>
    <!--based on reference: https://api.rubyonrails.org/v7.0.2.2/classes/ActionView/Helpers/FormTagHelper.html#method-i-check_box_tag-->
    <%= check_box_tag "ratings[#{rating}]", "", (@checked_ratings.keys.include? rating), :id => "ratings_#{rating}" %>
  <% end %>
  <%= submit_tag "Refresh", :class => "btn btn-primary", :id => "ratings_submit" %>
<% end %>

<%#  Part 1: Start here... %>
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <!-- reference: https://www.rubyguides.com/2019/05/rails-link_to-method/-->
      <th>
        <%= link_to "Movie Title", movies_path(sort: "title"), id:"title_header", class: @sort=="title" ? "hilite text-success" : "text-info", style: @sort=="title" ? "background: #E6BF00" : ""%>
      </th>
      <th>Rating</th>
      <th>
        <%= link_to "Release Date", movies_path(sort: "release_date"), id:"release_date_header", class: @sort=="release_date" ? "hilite text-success" : "text-info", style: @sort=="release_date" ? "background: #E6BF00" : ""%>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>